<nav>
    <div id="hamburger" onclick="muestraMenu()">
        <div id="line-1"></div>
        <div id="line-2"></div>
        <div id="line-3"></div>
    </div>
    <div id="menu">
        <a class="link" href="/products/create"><h3>VENDER</h3></a>
        <i class="fa-solid fa-cart-shopping"></i>
        <i class="fa-solid fa-bell"></i>
        <a class="link" href="/users/register"><h3>REGISTRO</h3></a>
        <%=if(locals.user{%>
            <a class="link" href="/users/login"><h3>INICIAR SESION</h3></a>
        <%}else{%>
            <a class="link" href="/users/profile"><h3>HOLA USUARIO</h3></a>
        <%}%>
           
    </div>
</nav>