<a class="link" href="/product/<%=p.id%>"><article>
    <img src="img/<%=p.image[0]%>" alt="" class="product_img">
    <div class="main-article">
        <h4 class="description"><%=p.name%></h4>
        <p class="price"><%=p.price%></p>
        <p class="condition">Segunda Mano - Impecable</p>
    </div>
</article></a>