<footer>
    <h3>Suscribite para obtener los mejores descuentos y beneficios!</h3>
    <form class="search-bar">  
        <input type="email" placeholder="Escribe tu correo electrónico">
        <button class="rnd-button sht-button button-02">Suscribirse!</button>
    </form>
<div class="footer-inferior">
    <div class="logo">
        <img src="img/logo_krautrock.png" alt="logo_krautrock">
        <p>krautrock es una marca registrada de AiTi GmBH</p>
    </div>
    <ul style="list-style-type:none">
        <li class="footer-paragraph">Empresa</li>
        <li class="footer-paragraph">Ayuda</li>
        <li class="footer-paragraph">Trabajá con nosotros!</li>
    </ul>
    <ul style="list-style-type:none">
        <li><i class="footer-paragraph fa-brands fa-whatsapp"></i>WhatsApp</li>
        <li><i class="footer-paragraph fa-solid fa-at"></i>krautrock@aiti.de</li>
        <li><i class="footer-paragraph fa-brands fa-instagram"></i>instagram.com/kr</li>
    </ul>  
</div>    
</footer>