<header>
    <a class="link" href="/"><h1 class="title">krautrock</h1></a>
    <form class="search-bar" style="opacity: 0;">  
        <input type="text" placeholder="Encuentra el instrumento de tus sueños">
        <button class="trs-button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</header>