:root{
    --fondo: #F8F6F6;
    --header: #F3916D;
    --enfasis: #A62B1F;
    --botones: #D96941;
    --reserva: #e0dede90;
    --correcto: #2E5902;
    --boton: #193C40;
    --enfasis-02:#0a1618;
    --background:#3A3838;
    --texto: var(--texto);
    --claro:#FFFFFF;
    --transparente:#FFFFFF80;
    --claro-02:#d1d1d19a;
    --claro-02-activa:#8d8d8d9a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Definición de alturas de Tipografías*/

html{
    font-size: 62.5%;
    font-family:'Lato', sans-serif;
}

h4,h5,h6,footer li,textarea,input{
    font-family: 'Roboto', sans-serif;
}

h1,i{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

h4,p,li{
    font-size: 1.9rem;
}

p{
    margin-bottom:0.5rem;
}

h5,footer li,label,button{
    font-size: 1.8rem;
}

a{
    font-size: 1.5rem;
}

h6{
    font-size: 1rem;
}

.line-through{
    text-decoration:line-through;
    margin-right:1rem;
}

.text-emphasis-01{
    color: var(--enfasis);
    font-weight: bold;
}

.text-emphasis-02{
    color: var(--correcto);
    font-weight: bold;
}

.text-emphasis-03{
    color: var(--enfasis-02);
    font-weight: bold;
}

::-webkit-scrollbar {
  width: 1.4rem;
  height: 1.4rem;
}

::-webkit-scrollbar-thumb {
  border: 0.4rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 0.7rem;
  background-color: var(--claro-02);
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--claro-02-activa);
  }

button{
    display: inline;
    text-align: center;
    background-color: #ffffff00;
    border-width: 0px;
    margin: 0 auto;
}

form.btn-half button{
    width: 100%;
    margin: 0.3rem;
    font-size: 1.5rem;
}

/* Definición de Botones */

.sqr-button{
    height: 3rem;
    margin: 0.2rem;
    border-width: 0;
    border-radius: 0.3rem;
}

.rnd-button{
    height: 3rem;
    margin: 0.2rem;
    border-width: 0;
    border-radius: 1.5rem;
}

.lrg-button{
    width: max(15%,20rem);
}

.med-button{
    width: max(10%,15rem);
}

.sht-button{
    width: max(9%,13rem); 
}

.trs-button{
    background-color: #ffffff00;
    border-width: 0;
}

.button-01{
    background-color: var(--botones);
    color: var(--claro);
}

.button-02{
    background-color: var(--boton);
    color: var(--claro); 
}

.button-03{
    background-color: var(--claro);
    color: var(--background);
    border: solid 0.2rem #000;
}

.button-01:hover{
    background-color: var(--header);
}

.button-02:hover{
    background-color: var(--enfasis-02);
}

.button-03:hover{
    background-color: var(--reserva);
}

.btn-full{
    width: 99%;
}

.btn-half{
    width: 50%;
}
/*------------------------------------------------------*/
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0.5rem 0 0.5rem;
}

nav a h3{
    margin: 0.5rem 0 0.5rem;
}

#hamburger{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    transition: all 450ms;
}

#line-1,#line-2,#line-3{
    width: 4rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    margin: 0.25rem 0;
    background-color: var(--background);
    transition: all 450ms;
}

#menu{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    height: 0;
    transition: all 700ms;
    margin: 0 0.5rem 0;
}


.horizontal{
    display: flex;
}

#inf-menu{
    border-top: 0.1rem solid var(--background);
    border-bottom: 0.1rem solid var(--background);
    margin: 1rem 0;
    overflow: auto;
}

#inf-menu p{
    margin: 1rem;
}

.cart{
    position: relative;
}

.notification{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--enfasis);
    border-radius: 0.3rem;
    color: var(--claro);
    font-size: 1rem;
    position: absolute;
    top: -0.3rem;
    left: 1.9rem;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

header{
    background-color: var(--header);
    display: flex;
    justify-content: center;
    overflow: auto;
}

header a h1{
    position: absolute;
    left: 2rem;
    top: -0.5rem;
    color: var(--background);
}

.link{
    text-decoration: none;
}

.link:visited{
    color: inherit;
}

.title{
    font-family: 'Yellowtail', cursive;
    font-weight: 200;
    font-size: 4rem;
}

body{
    background-color: var(--fondo);
}

main{
    margin-bottom: 20rem;
}

section.cta-main{
    margin: 0.5rem 0;
    width: 100%;
    height: 30rem;
    background-image: url("/img/instruments.jpg");
    background-size: cover;
    overflow: auto;
}

section.cta-error{
    margin: 0.5rem 0;
    width: 100%;
    height: 30rem;
    background-image: url("/img/broken-guitar.jpg");
    background-size: cover;
    overflow: auto;
}

section.cta-login{
    margin: 0.5rem 0;
    width: 100%;
    height: 15rem;
    background-image: url("/img/instruments.jpg");
    background-size: cover;
}

section.cta-main div, section.cta-error div{
    height: 15rem;
    width: 95%;
    margin: 7.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--transparente);
}

section.cta-login div{
    height: 25rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--claro);
    position: relative;
    top: 3rem;
}

.ranking-list{
    background-color: var(--header);
    border-radius: 0.5rem;
    width: 90%;
    overflow: auto;
    padding: 2rem;
}

.ranking-list ol, .ranking-list h2{
    margin-left: 3rem;
}

.ranking-list ol li{
    list-style: decimal inside;
    background-color: var(--botones);
    margin: 1rem;
    padding: 1rem;
    font-weight: bold;
    border-radius: 0.2rem;
    width: 90%;
}

input,textarea, select{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.7rem;
    border: 1px solid var(--background);
    border-radius: 3px;
}

textarea{
    height: 10rem;
}

label {
    display: block;
}

.checkbox{
    display: inline;
    width: 1.5rem;
    margin-right:1rem;
}

.login form button{
    width: 100%;
    margin: 0.5rem 0 1rem;
}

section.cta-main div h1{
    width: 80%;
    text-align: center;
    margin-bottom: 1rem;
}

.background-emphasis{
    background-color: var(--claro-02);
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.search-bar{
    margin: 1rem;
    background-color: var(--claro);
    height: 3.4rem;
    border-radius: 1.7rem;
    width: max(30%,35rem);
    display: flex;
    justify-content: space-between;
}

.search-bar input{
    font-size: 1.5rem;
    border-width: 0;
    margin: 0.2rem 0 0.2rem 1rem;
    background-color: #ffffff00;
    width: 100%;
}

.search-bar i{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.main-inferior{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.carrousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carrousel a{
    margin: 1rem;
    padding: 0;
    width: 80%;
}

.carrousel a article{
    background-color: var(--claro);
    border-radius: 0.5rem;
    border:0.1rem solid var(--background);
}

.carrousel a article:hover{
    box-shadow: 0rem 0rem 1.5rem var(--background);
}

.carrousel a article img{
    width: 70%;
    margin: 1rem 15% 0.5rem;
}

.sales{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.condition{
    display: none;
}

.main-article{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem 1rem;
}

.line-arrange{
    display: flex;
    justify-content: space-between;
}

#product-info a, .line-arrange a{
    text-align: center;
    text-decoration: none;
    padding-top: 0.5rem;
}

footer{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--claro);
}

.footer-inferior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo img{
    width: 15rem;
}

.logo p{
    width: 80%;
    font-size: 1rem;
}

footer h3{
    margin: 1rem 0 1rem;
    text-align: center;
    width: 90%;
}

i.footer-paragraph,#seller-name i{
    font-size: 1.5rem;
}

i.footer-paragraph{
    margin-right: 1rem;
    display: inline;
}

#star{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10rem 0 10rem;
    animation: estrella-crece 500ms;
}

#number-1{
    width: 10rem;
    height: 10rem;
    background-color: var(--correcto);
    position: absolute;
}

#number-2{
    width: 10rem;
    height: 10rem;
    background-color: var(--correcto);
    transform: rotate(45deg);
    z-index: -1;
    position: absolute;
}

#number-3{
    width: 10rem;
    height: 10rem;
    background-color: var(--correcto);
    transform: rotate(22.5deg);
    z-index: -1;
    position: absolute;
}

#number-4{
    width: 10rem;
    height: 10rem;
    background-color: var(--correcto);
    transform: rotate(-22.5deg);
    z-index: -1;
    position: absolute;
}

#form-success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-success h1{
    margin: 2rem 0;
    width: 90%;
    text-align: center;
}

.fa-check{
    color: var(--claro);
    margin: 1.5rem;
    font-size: 8rem;
}

@keyframes estrella-crece{
    0%{transform:scale(0,0)}
    100%{transform: scale(1,1);}
}

.big-pic{
    margin: 1rem 0;
    width: 100%;
}

.small-pic{
    width: 25%;
    height: 10rem;
    object-fit:contain;
}

#product-item{
    display: flex;
    flex-direction: column;
}

.border{
    border-radius: 0.5rem;
    border:0.1rem solid #000;
    padding: 2rem;
}

#product-item div{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

#product-item div div{
    margin: 0;
    display: flex;
    flex-direction: row;
}

#product-title, #price{
    margin: 0;
}

#item-description{
    border: solid 0.2rem var(--background);
    background-color: var(--claro);
    width: 99%;
    align-self: center;
    padding: 1rem;
    margin: 1rem 0;
}

/* Product Cart */    
    
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin: 0 -16px;
}

.column {
    display: flex;
    display:column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-20 {
    flex: 20%;
}

.col-30 {
    width: 30%;
}

.col-40 {
    flex: 40%;
}

.col-50 {
    flex: 50%;
}

.col-60 {
    flex: 60%;
}

.col-20,
.col-40,
.col-50,
.col-60 {
  padding: 0 16px;
}

.container {
    background-color: var(--claro);
    padding: 0.5rem 2rem 1.5rem 2rem;
    border: 0.1rem solid var(--background);
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

@media(min-width:768px){

    header a h1{
        left: 2rem;
        top: 4.5rem;
    }

    section.cta-main div{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    section.cta-main div h1{
        width: 50%;
    }

    .carrousel{
        width: 100%;
        justify-content: flex-start;
    }

    .condition{
        display: block;
    }

    .logo{
        flex-direction: row;
        align-items: center;
    }

    .footer-inferior{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }

    #hamburger{
        display: none;
    }
    
    #menu{
        flex-direction: row;
        height: 3.5rem;
        margin: 0 0.5rem 0;
    }

    #menu h3{
        margin: 0 0.6rem 0;
    }

    #menu i{
        margin: 0 0.6rem 0;
    }

    section.cta-login div{
        width: min(40%,40rem);
    }

    .register-form{
        width: min(80%,42rem);
        margin: 0 auto;
    }

    #product-item{
        flex-direction: row;
        justify-content: center;
    }

    #product-item div{
        justify-content: center;
    }

    #pictures{
        width: 35%;
    }

    #product-info{
        width: 25%;
    }

    .main-inferior{
        flex-direction: row;
        align-items: flex-start;
    }

    .ranking-list{
        order: -1;
        width: 38%;
    }

    .sales{
        width: 55%;
    }

    .carrousel a{
        width: 45%;
    }

    .notification{
        top: -0.5rem;
        left: 2.8rem;
    }

    .row {
        flex-direction: row;
    }

}

@media(min-width:1024px){
    .carrousel a{
        width: 22%;
    }

    .ranking-list{
        width: 30%;
    }

    .sales{
        width: 65%;
    }

    .carrousel a{
        width: 22%;
    }
}