<!DOCTYPE html>
<html lang="en">
    
    <!-- head -->
    <%- include('../partials/head')%>

<body>
    
    <!-- nav -->
    <%- include('../partials/nav')%>

    <!-- header -->
    <%- include('../partials/header')%>

    <main>
        <section class="cta-login">
            <div class="login">
                <h2>Iniciar sesión</h2>
                <form action="/users/login" method="post">  
                    <input type="text" placeholder="Ingrese usuario"><br>
                    <input type="password" placeholder="Ingrese contraseña"><br>
                    <label><input class="checkbox" type="checkbox" name="remain-connected">Permanecer conectado</label>
                    <button class="rnd-button med-button button-01">Ingresar</button>
                </form>
            </div>
        </section>
    </main>
    
    <!-- footer -->
    <%- include('../partials/footer')%>

</body>
</html>