<!DOCTYPE html>
<html lang="en">
    
    <!-- head -->
    <%- include('../partials/head',{title:"iniciar sesi칩n"})%>

<body>
    
    <!-- nav -->
    <%- include('../partials/nav')%>

    <!-- header -->
    <%- include('../partials/header',{categories})%>

    <main>
        <section class="cta-login">
            <div class="login">
                <h2>Iniciar sesi칩n</h2>
                <form action="/users/login" method="post">  
                    <input name="userName" type="text" placeholder="Ingrese usuario"><br>
                    <input name="password" type="password" placeholder="Ingrese contrase침a"><br>
                    <label><input class="checkbox" type="checkbox" name="remain_connected">Permanecer conectado</label>
                    <button type="submit" class="rnd-button med-button button-01">Ingresar</button>
                    <button type="reset" class="rnd-button med-button button-02">Recuperar contrase침a</button>
                </form>
            </div>
        </section>
    </main>
    
    <!-- footer -->
    <%- include('../partials/footer')%>

</body>
</html>