<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Yellowtail&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <script src="/js/script.js"></script>
    
    <title>krautrock | registro</title>
</head>
<body>
    
    <!-- nav -->
    <%- include('../partials/nav')%>

    <!-- header -->
    <%- include('../partials/header')%>

    <main id="form-success">
        <div id="star">
            <div id="number-1">
                <i class="fa-solid fa-check"></i>
            </div>

            <div id="number-2">
            </div>

            <div id="number-3">
            </div>

            <div id="number-4">
            </div>
        </div>
        <h1>Su formulario fue enviado exitosamente!</h1>
        <a class="link" href="/"><h2>Volver al menú principal</h2></a>
    </main>
    
    <!-- footer -->
    <%- include('../partials/footer')%>

</body>
</html>