<!DOCTYPE html>
<html lang="en">

    <!-- head -->
    <%- include('../partials/head',{title:"registro exitoso"})%>
    
<body>
    
    <!-- nav -->
    <%- include('../partials/nav',{user})%>

    <!-- header -->
    <%- include('../partials/header')%>

    <main id="form-success">
        <div id="star">
            <div id="number-1">
                <i class="fa-solid fa-check"></i>
            </div>

            <div id="number-2">
            </div>

            <div id="number-3">
            </div>

            <div id="number-4">
            </div>
        </div>
        <h1>Su formulario fue enviado exitosamente!</h1>
        <a class="link" href="/"><h2>Volver al menú principal</h2></a>
    </main>
    
    <!-- footer -->
    <%- include('../partials/footer')%>

</body>
</html>