<!DOCTYPE html>
<html lang="en">

    <!-- head -->
    <%- include('../partials/head',{title:"error!"})%>
    
<body>

    <!-- nav -->
    <%- include('../partials/nav')%>

    <!-- header -->
    <%- include('../partials/header',{categories})%>

    <main>
        <section class="cta-error">
            <div>
                <h1>Error: usuario o contraseña erróneos</h1>
                <a class="link" href="/"><h2>Volver al menú principal</h2></a>
            </div>
        </section>
    </main>

    <!-- footer -->
    <%- include('../partials/footer')%>

</body>
</html>