<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Yellowtail&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>krautrock</title>
</head>
<body>
    <nav>
        <h3 class="texto-nav">VENDER</h3>
        <img class="svg-image" src="img/shopping_cart.svg" alt="shopping_cart">
        <img class="svg-image" src="img/bell.svg" alt="bell"></h3>
        <h3 class="texto-nav">INICIAR SESION</h3>
    </nav>

    <header>
        <h1 class="title">krautrock</h1>
    </header>

    <main>
        <section class="cta-main">
            <div>
                <h2>Marcas reconocidas, calidad inigualable</h2>
                <form class="search-bar">  
                    <input type="text" placeholder="Encuentra el instrumento de tus sueños">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </section>

        <h3>Ofertas por tiempo limitado</h3>

        <section class="carrousel">
            <article>
                <img src="img/les_paul.jpg" alt="Gibson Les Paul" class="product_img">
                <div class="main-article">
                    <h4 class="description">Les Paul Standard</h4>
                    <p class="price">$2500</p>
                    <p class="condition">Segunda Mano - Impecable</p>
                </div>
            </article>

            <article>
                <img src="img/cs_80.jpg" alt="Yamaha_CS-80" class="product_img">
                <div class="main-article">
                    <h4 class="description">Yamaha CS 80</h4>
                    <p class="price">$25000</p>
                    <p class="condition">Segunda Mano - Muy Bueno</p>
                </div>
            </article>

            <article>
                <img src="img/op1_field.jpeg" alt="TE_OP1_Field" class="product_img">
                <div class="main-article">
                    <h4 class="description">TE OP1 Field</h4>
                    <p class="price">$15000</p>
                    <p class="condition">Nuevo</p>
                </div>
            </article>

            <article>
                <img src="img/casio_cz101.jpg" alt="Casio_CZ101" class="product_img">
                <div class="main-article">
                    <h4 class="description">Casio CZ 101</h4>
                    <p class="price">$500</p>
                    <p class="condition">Segunda Mano - Bueno</p>
                </div>
            </article>

        </section>
        <aside>

        </aside>
    </main>
    
    <footer>
            <h2>Suscribite para obtener los mejores descuentos y beneficios!</h2>
            <form class="search-bar">  
                <input type="text" placeholder="Escribe tu correo electrónico">
                <button class="footer-text">Suscribirse!</button>
            </form>
        <div class="footer-inferior">
            <div class="logo">
                <img src="img/logo_krautrock.png" alt="logo_krautrock">
                <p class="footer-text">krautrock es una marca registrada de AiTi GmBH</p>
            </div>
            <ul style="list-style-type:none">
                <li class="footer-paragraph">Empresa</li>
                <li class="footer-paragraph">Ayuda</li>
                <li class="footer-paragraph">Trabajá con nosotros!</li>
            </ul>
            <ul style="list-style-type:none">
                <li><i class="footer-paragraph fa-brands fa-whatsapp"></i><p class="footer-paragraph">WhatsApp</p></li>
                <li><i class="footer-paragraph fa-solid fa-at"></i><p class="footer-paragraph">krautrock@aiti.de</p></li>
                <li><i class="footer-paragraph fa-brands fa-instagram"></i><p class="footer-paragraph">instagram.com/kr</p></li>
            </ul>  
        </div>    
    </footer>
</body>
</html>