<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>krautrock</title>
</head>
<body>
    <nav>

    </nav>

    <header>
        <h1>krautrock</h1>
    </header>

    <main>
        <article>

        </article>

        <section>

        </section>

        <div>

        </div>

        <aside>
            
        </aside>
    </main>
    
    <footer>

    </footer>
</body>
</html>