<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Yellowtail&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <script src="/js/script.js"></script>
    <title>krautrock | producto</title>
</head>
<body>
    <nav>
        <div id="hamburger" onclick="muestraMenu()">
            <div id="line-1"></div>
            <div id="line-2"></div>
            <div id="line-3"></div>
        </div>
        <div id="menu">
            <a class="link" href=""><h3>VENDER</h3></a>
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-bell"></i>
            <a class="link" href="/register"><h3>REGISTRO</h3></a>
            <a class="link" href="/login"><h3>INICIAR SESION</h3></a>
        </div>
    </nav>

    <header>
        <a class="link" href="/"><h1 class="title">krautrock</h1></a>
        <form class="search-bar">  
            <input type="text" placeholder="Encuentra el instrumento de tus sueños">
            <button class="trs-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </header>

    <main>
        <div id="product-item">
            <div id="pictures">
                <img class="big-pic" src="img/cs_80.jpg" alt="Yamaha CS 80">
                <div>
                    <div class="small-pic pic-01"></div>
                    <div class="small-pic pic-02"></div>
                    <div class="small-pic pic-03"></div>
                    <div class="small-pic pic-04"></div>
                </div>
            </div>
            <div id="product-info">
                <h3 id="product-title">Yamaha CS 80</h3>
                <p id="seller-name">Vendedor: Vintage Synths <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></p>
                <h2 class="price">$15000</h2>
                <button class="btn-full sqr-button lrg-button button-01">Comprar</button>
                <div class="line-arrange">
                    <button class="btn-half sqr-button shr-button button-02">Agregar al carrito</button>
                    <button class="btn-half sqr-button shr-button button-03">Favoritos</button>
                </div>
                <p id="item-description">Sintetizador polifónico - SN 1999, año 1976. Con todas sus funciones, calibrado por un especialista. Se hacen envíos a todo el país y al mundo. Garantía de 6 meses.</p>
            </div>
        </div>      
    </main>
    <footer>
            <h3>Suscribite para obtener los mejores descuentos y beneficios!</h3>
            <form class="search-bar">  
                <input type="email" placeholder="Escribe tu correo electrónico">
                <button class="rnd-button sht-button button-02">Suscribirse!</button>
            </form>
        <div class="footer-inferior">
            <div class="logo">
                <img src="img/logo_krautrock.png" alt="logo_krautrock">
                <p>krautrock es una marca registrada de AiTi GmBH</p>
            </div>
            <ul style="list-style-type:none">
                <li class="footer-paragraph">Empresa</li>
                <li class="footer-paragraph">Ayuda</li>
                <li class="footer-paragraph">Trabajá con nosotros!</li>
            </ul>
            <ul style="list-style-type:none">
                <li><i class="footer-paragraph fa-brands fa-whatsapp"></i>WhatsApp</li>
                <li><i class="footer-paragraph fa-solid fa-at"></i>krautrock@aiti.de</li>
                <li><i class="footer-paragraph fa-brands fa-instagram"></i>instagram.com/kr</li>
            </ul>  
        </div>    
    </footer>
</body>
</html>