<!DOCTYPE html>
<html lang="en">

    <!-- head -->
    <%- include('../partials/head')%>
    
<body>

    <!-- nav -->
    <%- include('../partials/nav')%>

    <!-- header -->
    <%- include('../partials/header')%>
    
    <main>
        <div class="register-form">
            <div class="container">
                <form action="/products/create" method="post">
                    <h3>Formulario de Creación de Producto</h3>
                    <input class="input-bar" name="name" placeholder="Nombre del producto" required><br>
                    
                    <input  class="input-bar" name="price" placeholder="Precio" required><br>
                    
                    <input  class="input-bar" name="description" placeholder="Descripción" required><br>
        
                    <label>Foto de usuario</label><br>
                    <input type="file" name="image" multiple accept=".jpg"><br>
                    
                    <div class="line-arrange">
                        <button class="rnd-button med-button button-01" type="submit">Enviar</button>
                        <button class="rnd-button med-button button-02" type="reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- footer -->
    <%- include('../partials/footer')%>
    
</body>
</html>