:root{
    --fondo: #F8F6F6;
    --header: #F3916D;
    --enfasis: #A62B1F;
    --botones: #D96941;
    --reserva: #e0dede90;
    --correcto: #2E5902;
    --boton: #193C40;
    --background:#3A3838;
    --texto: var(--texto);
    --claro:#FFFFFF;
    --transparente:#FFFFFF80
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Definición de alturas de Tipografías*/

html{
    font-size: 62.5%;
}

h1,h2,h3,p,label,li{
    font-family:'Lato', sans-serif;
}

h4,h5,h6,footer li{
    font-family: 'Roboto', sans-serif;
}

h1,i{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

h4,p,li{
    font-size: 1.9rem;
}

h5,footer li,label{
    font-size: 1.8rem;
}

h6{
    font-size: 1rem;
}

.price{
    color: var(--enfasis);
}

/* Definición de Botones */

.sqr-button{
    height: 3rem;
    margin: 0.2rem;
    border-width: 0;
}

.rnd-button{
    height: 3rem;
    margin: 0.2rem;
    border-width: 0;
    border-radius: 1.5rem;
}

.lrg-button{
    width: max(15%,20rem);
    font-size: 1.5rem;
}

.med-button{
    width: max(10%,15rem);
    font-size: 1.5rem;
}

.sht-button{
    width: max(9%,13rem);
    font-size: 1.5rem;
}

.trs-button{
    background-color: #ffffff00;
    border-width: 0;
}

.button-01{
    background-color: var(--botones);
    color: var(--claro);
}

.button-02{
    background-color: var(--boton);
    color: var(--claro); 
}

.button-03{
    background-color: var(--claro);
    color: var(--background);
    border: solid 0.2rem #000;
}

.btn-full{
    width: 99%;
}

.btn-half{
    width: 50%;
}
/*------------------------------------------------------*/
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0.5rem 0 0.5rem;
}

nav a h3{
    margin: 0.5rem 0 0.5rem;
}

#hamburger{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    transition: all 450ms;
}

#line-1,#line-2,#line-3{
    width: 4rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    margin: 0.25rem 0;
    background-color: var(--background);
    transition: all 450ms;
}

#menu{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    height: 0;
    transition: all 700ms;
    margin: 0 0.5rem 0;
}

header{
    background-color: var(--header);
    display: flex;
    justify-content: center;
    overflow: auto;
}

header a h1{
    position: absolute;
    left: 2rem;
    top: -0.5rem;
    color: var(--background);
}

.link{
    text-decoration: none;
}

.link:visited{
    color: inherit;
}

.title{
    font-family: 'Yellowtail', cursive;
    font-weight: 200;
    font-size: 4rem;
}

body{
    background-color: var(--fondo);
}

main{
    margin-bottom: 20rem;
}

section.cta-main{
    margin: 0.5rem 0;
    width: 100%;
    height: 30rem;
    background-image: url("/img/instruments.jpg");
    background-size: cover;
    overflow: auto;
}

section.cta-login{
    margin: 0.5rem 0;
    width: 100%;
    height: 15rem;
    background-image: url("/img/instruments.jpg");
    background-size: cover;
}

section.cta-main div{
    height: 15rem;
    width: 95%;
    margin: 7.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--transparente);
}

section.cta-login div{
    height: 25rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--claro);
    position: relative;
    top: 3rem;
}

.ranking-list{
    background-color: var(--header);
    border-radius: 0.5rem;
    width: 100%;
    overflow: auto;
    padding: 2rem;
    margin: 1rem;
}

.ranking-list ol, .ranking-list h2{
    margin-left: 3rem;
}

.ranking-list ol li{
    list-style: decimal inside;
    background-color: var(--botones);
    margin: 1rem;
    padding: 1rem;
    font-weight: bold;
    border-radius: 0.2rem;
    width: 90%;
}

form{
    width: 80%;
}

form input{
    width: 100%;
    height: 3rem;
    margin: 0.7rem 0;
}

#checkbox{
    display: inline;
    width: 1.5rem;
    margin-right:1rem;
}

.login form button{
    width: 100%;
    margin: 0.5rem 0 1rem;
}

section.cta-main div h1{
    width: 80%;
    text-align: center;
    margin-bottom: 1rem;
}

.search-bar{
    margin: 1rem;
    background-color: var(--claro);
    height: 3.4rem;
    border-radius: 1.7rem;
    width: max(30%,35rem);
    display: flex;
    justify-content: space-between;
}

.search-bar input{
    font-size: 1.5rem;
    border-width: 0;
    margin: 0.2rem 0 0.2rem 1rem;
    background-color: #ffffff00;
    width: 100%;
}

.search-bar i{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.main-inferior{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.carrousel{
    display: flex;
    flex-wrap: wrap;
}

.carrousel a{
    margin: 1rem;
    padding: 0;
}

.carrousel a article{
    background-color: var(--claro);
}

.carrousel a article:hover{
    box-shadow: 0.5rem 0.5rem 3rem var(--background);
}

.carrousel a article img{
    width: 90%;
    margin: 1rem 5% 0.5rem;
}

.sales{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.condition{
    display: none;
}

.main-article{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem 1rem;
}

.line-arrange{
    display: flex;
    justify-content: space-between;
}

footer{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--claro);
}

.footer-inferior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo img{
    width: 15rem;
}

.logo p{
    width: 80%;
    font-size: 1rem;
}

footer h3{
    margin: 1rem 0 1rem;
    text-align: center;
    width: 90%;
}

i.footer-paragraph,#seller-name i{
    font-size: 1.5rem;
}

i.footer-paragraph{
    margin-right: 1rem;
    display: inline;
}

#star{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10rem 0 10rem;
    animation: estrella-crece 500ms;
}

#number-1{
    width: 10rem;
    height: 10rem;
    background-color: var(--correcto);
    position: absolute;
}

#number-2{
    width: 10rem;
    height: 10rem;
    background-color: var(--correcto);
    transform: rotate(45deg);
    z-index: -1;
    position: absolute;
}

#number-3{
    width: 10rem;
    height: 10rem;
    background-color: var(--correcto);
    transform: rotate(22.5deg);
    z-index: -1;
    position: absolute;
}

#number-4{
    width: 10rem;
    height: 10rem;
    background-color: var(--correcto);
    transform: rotate(-22.5deg);
    z-index: -1;
    position: absolute;
}

#form-success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-success h1{
    margin: 2rem 0;
    width: 90%;
    text-align: center;
}

.fa-check{
    color: var(--claro);
    margin: 1.5rem;
    font-size: 8rem;
}

@keyframes estrella-crece{
    0%{transform:scale(0,0)}
    100%{transform: scale(1,1);}
}

.background-login{
    background-image: url("/img/led_zeppelin.jpg");
    background-size: cover;
    width: 100%;
    height: 55rem;
    overflow: auto;
    margin: 1rem 0;
}

.register-form{
    background-color: var(--fondo);
    padding: 4rem;
    height: 50rem;
    margin: 2.5rem 2.5rem;
    width: 85%;
}

.big-pic{
    margin: 1rem 0;
    width: 100%;
}

.small-pic{
    width: 25%;
    height: 9rem;
}

.pic-01{
    background-image: url("/img/cs_80.jpg");
    background-size: cover;
}

.pic-02{
    background-image: url("/img/cs_80_01.jpg");
    background-size: cover;
}

.pic-03{
    background-image: url("/img/cs_80_02.jpg");
    background-size: cover;
}

.pic-04{
    background-image: url("/img/cs_80_03.jpg");
    background-size: cover;
}

#product-item{
    display: flex;
    flex-direction: column;
}

#product-item div{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

#product-item div div{
    margin: 0;
    display: flex;
    flex-direction: row;
}

#product-title, #seller-name, #price{
    margin: 0.5rem 0;
}

#item-description{
    border: solid 0.2rem var(--background);
    background-color: var(--claro);
    width: 99%;
    align-self: center;
    padding: 1rem;
    margin: 1rem 0;
}


@media(min-width:768px){

    header a h1{
        left: 2rem;
        top: 4.5rem;
    }

    section.cta-main div{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    section.cta-main div h1{
        width: 50%;
    }

    .carrousel{
        width: 100%;
        justify-content: space-between;
    }

    .condition{
        display: block;
        height: 5.5rem;
    }

    .logo{
        flex-direction: row;
        align-items: center;
    }

    .footer-inferior{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }

    #hamburger{
        display: none;
    }
    
    #menu{
        flex-direction: row;
        height: 3.5rem;
        margin: 0 0.5rem 0;
    }

    #menu h3{
        margin: 0 0.6rem 0;
    }

    #menu i{
        margin: 0 0.6rem 0;
    }

    section.cta-login div{
        width: min(40%,40rem);
    }

    .register-form{
        width: min(80%,42rem);
    }

    #product-item{
        flex-direction: row;
        justify-content: center;
    }

    #product-item div{
        justify-content: center;
    }

    #pictures{
        width: 35%;
    }

    #product-info{
        width: 25%;
    }

    .main-inferior{
        flex-direction: row;
    }

    .ranking-list{
        order: -1;
        width: 38%;
    }

    .sales{
        width: 55%;
    }

    .carrousel a{
        width: 45%;
    }

}

@media(min-width:1024px){
    .carrousel a{
        width: 22%;
    }

    .ranking-list{
        width: 30%;
    }

    .sales{
        width: 65%;
    }

    .carrousel a{
        width: 22%;
    }
}