:root{
    --fondo: #F8F6F6;
    --header: #F3916D;
    --enfasis: #A62B1F;
    --botones: #D96941;
    --reserva: #e0dede90;
    --correcto: #2E5902;
    --boton: #193C40;
    --background:#3A3838;
    --texto: #000;
    --claro:#FFFFFF;
    --transparente:#FFFFFF50
}

*{
    border: 0px;
    margin: 0px;
}

body{
    background-color: #9c9c9c;
}

html{
    font-size: 62.5%;
}
h1,h2,h3,p{
    font-family:'Lato', sans-serif;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2.2rem;
}

h4,p,li{
    font-size: 1.9rem;
}

h5{
    font-size: 1.8rem;
}

h6{
    font-size: 1.5rem;
}


h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}

.price{
    color: var(--enfasis);
}

.sqr-button{
    height: 30px;
    margin: 5px 0 5px;
    border-width: 0px;
}

.rnd-button{
    height: 3rem;
    margin: 0.2rem;
    border-width: 0px;
    border-radius: 1.5rem;
}

.lrg-button{
    width: max(15%,310px);
    font-size: 1.5rem;
}

.med-button{
    width: max(10%,150px);
    font-size: 1.5rem;
}

.sht-button{
    width: max(7.5%,100px);
    font-size: 1.5rem;
}

.trs-button{
    background-color: #ffffff00;
    font-size: 2rem;
}


.button-01{
    background-color: var(--botones);
    color: var(--claro);
}

.button-02{
    background-color: var(--boton);
    color: var(--claro); 
}

.button-03{
    background-color: var(--claro);
    color: var(--background);
    border: solid 2px #000;
}

.search-bar{
    margin: 1rem;
    background-color: var(--claro);
    height: 3.4rem;
    border-radius: 1.7rem;
    width: max(20%,350px);
    display: flex;
    justify-content: space-between;
}

.search-bar input{
    font-size: 1.5rem;
    margin: 0.2rem 0 0.2rem 1rem;
    background-color: #ffffff00;
    width: 100%;
}
