:root{
    --fondo: #F8F6F6;
    --header: #F3916D;
    --enfasis: #A62B1F;
    --botones: #D96941;
    --reserva: #e0dede90;
    --correcto: #2E5902;
    --boton: #193C40;
    --background:#3A3838;
    --texto: var(--texto);
    --claro:#FFFFFF;
    --transparente:#FFFFFF50
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lato', sans-serif;
}

.footer-paragraph{
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav a{
    text-decoration: none;
}

nav a h3{
    margin: 0px 10px;
}

#hamburger{
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    transition: all 450ms;
}

#line-1,#line-2,#line-3{
    width: 40px;
    height: 5px;
    border-radius: 2.5px;
    margin: 2.5px 0px;
    background-color: var(--background);
    transition: all 450ms;
}

#menu{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    height: 0px;
    transition: all 1000ms;
}

.extended{
    height: 150px;
}

header{
    background-color: var(--header);
    overflow: auto;
}

header a h1{
    position: absolute;
    left: 20px;
    top: 0px;
    color: var(--background);
}

header a h1:visited{
    color: inherit;
}

header form{
    margin: 10px auto;
}

.title{
    font-family: 'Yellowtail', cursive;
    font-weight: 200;
}

body{
    background-color: var(--fondo);
}

main{
    margin-bottom: 200px;
}

section.cta-main{
    margin: 5px 0px;
    width: 100%;
    height: 300px;
    background-image: url("/img/instruments.jpg");
    background-size: cover;
    overflow: auto;
}

section.cta-main div{
    height: 150px;
    width: 80%;
    margin: 75px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--transparente);
}

section.cta-main div h2{
    width: 80%;
    text-align: center;
    margin-bottom: 10px;
}

.search-bar{
    width: 300px;
    height: 30px;
    text-align: center;
    background-color: var(--claro);
    border-radius: 15px;
}

form.search-bar input{
    height: 30px;
    width: 250px;
    margin: 0px 10px 0px 0px;
    background-color: rgba(255,255,255,100);
    border-width:0px;
}

form.search-bar button{
    background-color: rgba(255,255,255,100);
    border-width:0px;
}

.svg-image{
    width: 35px;
}

.carrousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carrousel a{
    margin: 10px;
    padding: 0px;
}

.carrousel a article{
    background-color: var(--claro);
}

.carrousel a article img{
    width: 90%;
    margin: 10px 5% 5px;
}

.condition{
    display: none;
}

footer{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--claro);
}

footer h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
footer form.search-bar{
    width: 400px;
    margin-bottom: 20px;
}

footer form.search-bar button{
    background-color: var(--boton);
    color: var(--claro);
    height: 28px;
    width: 100px;
    border-width: 0px;
    border-radius: 14px;
    position: relative;
    left: 17px;
}


.footer-inferior{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo p{
    width: 40%;
}

footer img{
    width: 150px;
    margin-right: 20px;
}

footer h2{
    text-align: center;
}

footer input{
    display: inline;
    margin: 10px auto;
}

footer p{
    display: inline;
}

i.footer-paragraph{
    margin-right: 10px;
}

.star{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
    animation: estrella-crece 500ms;
}

.number-1{
    width: 100px;
    height: 100px;
    background-color: var(--correcto);
    position: absolute;
}

.number-2{
    width: 100px;
    height: 100px;
    background-color: var(--correcto);
    transform: rotate(45deg);
    z-index: -1;
    position: absolute;
}

.number-3{
    width: 100px;
    height: 100px;
    background-color: var(--correcto);
    transform: rotate(22.5deg);
    z-index: -1;
    position: absolute;
}

.number-4{
    width: 100px;
    height: 100px;
    background-color: var(--correcto);
    transform: rotate(-22.5deg);
    z-index: -1;
    position: absolute;
}

.fa-check{
    color: var(--claro);
    margin: 15px;
    font-size: 80px;
}

@keyframes estrella-crece{
    0%{transform:scale(0,0)}
    100%{transform: scale(1,1);}
}

.background-login{
    background-image: url("/img/led_zeppelin.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
    overflow: auto;
    margin: 10px 0px;
}

.register-form{
    background-color: var(--reserva);
    padding: 40px;
    height: 500px;
    margin: 25px 25px;
    width: 85%;
}

main form label, main form input{
    margin: 10px 0px 5px;
}

.input-bar{
    width: 250px;
    height: 30px;
    border-width: 0px;
    border-radius: 3px;
}

/* main form button{
    width: 80px;
    height: 30px;
    background-color: var(--botones);
    border-radius: 15px;
    border-width: 0px;
    color: var(--claro);
    margin-top: 10px;
} */

@media(min-width:768px){

    section.cta-main div{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    section.cta-main div h2{
        width: 50%;
    }

    .carrousel a{
        width: 23%;
    }

    .condition{
        display: block;
    }

    main form{
        width: 40%;
    }
}

main div{
    display: flex;
}

main div div{
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

main div div img{
    height: 90%;
    width: 90%;
}

.precio{
    color: var(--enfasis);
}

.boton{
    height: 30px;
    margin: 5px 0 5px;
    border-width: 0px;
}

.largo{
    width: 310px;
}

.corto{
    width: 150px;
}

#bt-comprar{
    background-color: var(--botones);
    color: var(--claro);
}

#bt-cart{
    background-color: var(--boton);
    color: var(--claro);
    flex: 1 1 auto;
}

#bt-fav{
    background-color: var(--claro);
    color: var(--background);
    border: solid 2px #000;
    align-self: flex-end;
}


